@model List<Bike>
@{
}

<a asp-action="CadastroBikes" asp-controller="Perfil">Cadastrar Bikes</a>

@foreach (var bike in Model)
{
    <div class="col-sm-6 col-md-4" style="padding: 10px">
        <div class="thumbnail" style="background-color:#D3D3D3; border-radius:5%">
            <div class="caption" style="padding: 20px">
                <h3>@bike.Nome</h3>
                <p>
                    Peso: @bike.Peso
                    Numero Quadro: @bike.NrQuadro
                    Aro: @bike.Aro
                    Tipo: @bike.tipo
                    Quantidade de marchas: @bike.QtdMarchas
                    Cor: @bike.Cor
                </p>
                <p><botao texto="editar"></botao><botao texto="excluir" style="background-color:red; border-color: red"></botao></p>
            </div>
        </div>
    </div>
}